.whitecard {
  background-color: var(--text);
  color: var(--background);
  border: 1px solid var(--background);
}

.blackcard {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--text);
}

.bigcard {
  border-radius: 20px;
  padding: 20px;

  width: 170px;
  height: 260px;
  overflow-wrap: break-word;
}

.bigcard.blackcard {
  width: 200px;
  height: 300px;
}

.bigcard:hover {
  z-index: 1000;
  cursor: pointer;
}

.smallcard {
  border-radius: 20px;
  width: 140px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 20px;
  overflow-wrap: break-word;
}

.hand {
  display: flex;
  flex-direction: column;
}
.hand-bottom {
  position: relative;
  top: -150px;
  left: 80px;
}

.text-shortest {
  /* 40 chars */
  font-size: 20px;
}

.text-short {
  /* 60 chars */
  font-size: 18px;
}
.text-medium {
  /* 80 chars */
  font-size: 16px;
}

.text-long {
  /* 120 chars */
  font-size: 14px;
}

.text-longest {
  /* 180chars */
  font-size: 14px;
}

em {
  color: aqua;
  font-style: normal;
}
