.card-white {
  background-color: var(--whiteCardBackground);
  color: var(--background);
  /* border: 1px solid var(--background); */
}

.card-black {
  background-color: var(--blackCardBackground);
  color: var(--text);
  /* border: 1px solid var(--text); */
  z-index: 5;
}


.card-default {
  border-radius: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 5px var(--selected);
}

/*card sizes*/
.card-small {
  width: 140px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.card-normal {
  width: 170px;
  height: 260px;
}

.card-big {
  width: 200px;
  height: 300px;
}

.white-card-selected {
  background-color: var(--whiteCardSelected);
  /* color: var(--background);
  border: 1px solid var(--background); */
}

.black-card-selected {
  background-color: var(--blackCardSelected);
  /* color: var(--background);
  border: 1px solid var(--background); */
}



.hoverable-black:hover {
  z-index: 6;
  cursor: pointer;
  background-color: var(--blackCardSelected);
}

.hoverable-white:hover {
  z-index: 6;
  cursor: pointer;
  background-color: var(--whiteCardSelected);
}

.card-text {
  overflow-wrap: break-word;
}

.text-shortest {
  /* 40 chars */
  font-size: 20px;
}

.text-short {
  /* 60 chars */
  font-size: 18px;
}

.text-medium {
  /* 80 chars */
  font-size: 16px;
}

.text-long {
  /* 120 chars */
  font-size: 14px;
}

.text-longest {
  /* 180chars */
  font-size: 14px;
}

.text-longester {
  /* 180chars */
  font-size: 11px;
}

em {
  color: aqua;
  font-style: normal;
}

.giant-x {
  display: block;
  position: absolute;
  font-size: 200px;
  line-height: 1em;
  z-index: 7;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.giant-x-content {
  display: none;
}

.giant-x:hover>.giant-x-content {
  display: block;
}