.chat-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.chat-history {
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  height: 700px;
  overflow-y: scroll;
  /* width: 500px; */
  scrollbar-width: none;
}

.chat-username {
  font-weight: bold;
  padding-right: 10px;
  width: 150px;  
  overflow-wrap: anywhere;
}

.chat-message {
  width: 340px;
  overflow-wrap: anywhere;
}

.chat-controls{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-textbox {
  color: var(--text);
  min-width: 300px;
  
  /* border-bottom: 1px solid white; */
  /* font-size: 16pt !important; */
  line-height: 1.5em !important;
  overflow-wrap: break-word;
  padding: 7px 5px !important;
  height: auto !important;
  margin: 0px !important;
}

.chat-textbox:focus{
  outline: none;
}

.system-message{
  font-style: italic;
}
