.deck-selected {
  background-color: var(--selected);
}

.deck-title:hover {
  background-color: var(--selected);
}

.border-bottom {
  border-bottom: 1px solid var(--text);
}

.deck-preview {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-left: 300px; */
  width: 1000px;
}

.deck-list {
  overflow: scroll;
  overflow-x: hidden;
  height: 495px;
}

.deck-container {
  position: fixed;
  left: 100px;
  top: 100px;
}

.deck-title {
  width: 300px;
  cursor: pointer;
}