.deck-selected {
  background-color: var(--selected);
}

.deck-title:hover {
  background-color: var(--selected);
}

.border-bottom {
  border-bottom: 1px solid var(--text);
}


.deck-preview {
  /* position: fixed;
  left: 600px;
  top: 100px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-left: 300px; */
  width: 1000px;
  margin: 0 350px;
}

.deck-list {
  overflow: scroll;
  overflow-x: hidden;
  /* max-height: 600px; */
  margin-bottom: 150px;
}

/* .start-game-button {
  position: fixed;
  width: 100%;
  bottom: 100px;
  padding-left: 25px;
} */

.deck-container {
  position: fixed;
  left: 100px;
  top: 100px;
}

.deck-title {
  width: 300px;
  cursor: pointer;
}