@import url("https://fonts.googleapis.com/css?family=Tangerine&display=swap");

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--text);
}

.nav-element {
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.2s ease;
  background-color: var(--text);
  color: var(--background);
  /* border-radius: 50px 0 0; */
}

/* .nav-element::before {
  border-left: 20px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
} */

.nav-element.link.active {
  color: var(--text);
  background-color: var(--background);
}

.foot {
  z-index: 0;
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: center;
  bottom: 30px;

  opacity: 0.3;
}

.nav-element:hover {
  background-color: var(--selected);
  cursor: pointer;
}

.home {
  font-size: 72pt;
  font-weight: 400;
  position: relative;
  z-index: 1;
  padding-top: 200px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-quote {
  color: var(--selected);
  font-family: Tangerine, cursive;
  font-size: 42px;
}

.home-attribution {
  color: var(--selected);
}

.about {
  max-width: 800px;
}

.info-message{
  height: 50px;
  width: 100%;
  text-align: center;
}

.topbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--text);
  color: var(--background);
}

.lobby-title {
  text-align: center;
  flex-grow: 2;
  width: 100%;
}

.tab-selected {
  color: var(--text);
  background-color: var(--background);
}

.home-icon {
  width: 20px;
  height: 20px;
}

.side-bar {
  width: 500px;
}