html {
  /*palette*/
  --text: white;
  --background: black;
  --selected: gray;
  --whiteCardBackground: #F4F4F4;
  --blackCardBackground: #1C1C1C;

  --whiteCardSelected: #C1C1C1;
  --blackCardSelected: #4F4F4F;


  font-size: 14pt !important;
  font-weight: 200;
  background-color: var(--background);
  height: 100%;
}

::selection {
  background: var(--selected);
}

::-webkit-scrollbar {
  display: none !important; 
}

body {
  /*remove basic padding from document*/
  padding: 0;
  margin: 0;

  /* height: 100vh; */

  color: var(--text);

  position: relative;
  z-index: -2;
  /* background-position: left top; */
  min-height: 100%;
}